= form_for @register, html: { class: 'form-inline' } do |f|
  .form-group
    .input-group
      .input-group-addon Data
      = f.text_field :measured_at, required: true, class: 'form-control datepicker'
  .form-group
    .input-group
      .input-group-addon Peso
      = f.text_field :weight, size: 5, maxlength: 5, required: true, class: 'form-control'
      .input-group-addon Kg
  = f.button 'Adicionar', type: 'submit', class: 'btn btn-primary'
