.modal.fade#addNote
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Adicione notas sobre esse registro:
      .modal-body
        %textarea{class: 'form-control', rows: 12, placeholder: 'Nenhuma anotação foi feita ainda.'}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Fechar
        %button.btn.btn-primary.btn-save{:type => "button"} Salvar