%tr
  %td= l register.measured_at
  %td= l register.measured_at, format: :weekday
  %td= register.weight.to_s << ' Kg'
  %td= imc register.weight, register.user.height
  %td
    - if register.weight_diff.present?
      %span{:class => "m-#{register.diff_direction(register.weight_diff)}"}
        = register.weight_diff.to_s << ' Kg'
  %td
    - if register.imc_diff.present?
      %span{:class => "m-#{register.diff_direction(register.imc_diff)}"}
        = register.imc_diff
  %td
    = check_box_tag :objective, :offday, register.offday, class: 'offday update-register', data: { url: register_path(register) }
  %td
    = check_box_tag :objective, :workout, register.workout, class: 'workout update-register', data: { url: register_path(register) }
  - if defined?(notable)
    %td= link_to 'Anotações', '#', data: { toggle: 'modal', target: '#addNote', note: register.note, id: register.id }, class: "register-#{register.id}"
  - if defined?(deletable)
    %td= link_to 'Apagar', register_path(register), method: :delete, data: { confirm: 'Tem certeza de que deseja apagar o registro?' }
