%h1 Registros de Peso
%hr/
%h3 Adicionar novo registro de peso
= render partial: "registers/add"
%hr/
- if @registers.blank?
  %p Não há registros.
- else
  = render partial: 'modal'
  %table.table
    %thead
      %tr
        %th Medido em
        %th Dia
        %th Peso
        %th
          %span{"data-toggle" => "tooltip", :title => "Índice de Massa Corporal"} IMC
        %th
          %span{"data-toggle" => "tooltip", :title => "Diferença ao Peso do dia Anterior"} DAP
        %th
          %span{"data-toggle" => "tooltip", :title => "Diferença ao IMC do dia Anterior"} DAI
        %th
          %span{"data-toggle" => "tooltip", :title => "OFF: Dia fora da Dieta"} OFF
        %th
          %span{"data-toggle" => "tooltip", :title => "WORKOUT: Você se exercitou hoje"} WORKOUT
        %th
        %th
    %tbody
      = render partial: "registers/register", collection: @registers, locals: { deletable: true, notable: true }
= paginate @registers
