.row
  - resource.build_avatar if resource.avatar.blank?
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    %h1 Editar perfil
    %hr/
    = devise_error_messages!
    .col-md-6
      %h3 Seus Dados
      %hr/
      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control', placeholder: 'E-mail', required: true, autofocus: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        .form-group
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .form-group
        = f.label :first_name
        = f.text_field :first_name, class: 'form-control', placeholder: 'Nome', required: true
      .form-group
        = f.label :last_name
        = f.text_field :last_name, class: 'form-control', placeholder: 'Sobrenome', required: true
      .form-group
        .input-group
          .input-group-addon Altura
          = f.text_field :height, size: 5, maxlength: 5, placeholder: '1.85', required: true, class: 'form-control'
          .input-group-addon m
      .form-group
        = f.label :gender
        = f.select :gender, User.genders.keys.to_a.map { |g| [g.humanize, g] }, { include_blank: true }, class: 'form-control', required: true
      .form-group
        = f.label :current_password
        %i (precisamos que você confirme sua senha atual antes de modificar os dados)
        %br/
        = f.password_field :current_password, autocomplete: 'off', class: 'form-control'
      .actions
        = f.submit "Atualizar meu perfil", class: 'btn btn-block btn-primary'
    .col-md-6
      %h3 Avatar
      %hr/
      .row
        .col-sm-4.col-sm-offset-1.grey-box.text-center
        - if resource.avatar.present?
          = cl_image_tag resource.avatar.thumbnail, class: 'img-responsive avatar-update'
        - else
          = cl_image_tag 'non_existing_id.png', default_image: 'my_default_image.png', class: 'img-responsive avatar-update'
        = f.fields_for(:avatar) do |avatar_form|
          = avatar_form.hidden_field :source_signature
          = avatar_form.cl_image_upload(:source_signature, html: { id: 'user_avatar_upload' })
          = start_cloudinary
          = cloudinary_progress
:javascript
  $(document).on('cloudinarydone', '#user_avatar_upload', function(e, data){
    var userAvatar = $.cloudinary.image(data.result.public_id, {
      format: data.result.format,
      version: data.result.version,
      crop: 'fill',
      width: 170,
      height: 180
    });
    $('.avatar-update').attr('src', userAvatar.attr('src'));
    return true;
  })