- resource.registers.build if resource.registers.blank?
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-signin' }) do |f|
  %h2.form-signin-heading Cadastre-se agora
  .form-group
    = f.label :email, class: 'sr-only'
    = f.email_field :email, class: 'form-control', placeholder: 'E-mail', required: true, autofocus: true
  .form-group
    = f.label :first_name, class: 'sr-only'
    = f.text_field :first_name, class: 'form-control', placeholder: 'Nome', required: true
  .form-group
    = f.label :last_name, class: 'sr-only'
    = f.text_field :last_name, class: 'form-control', placeholder: 'Sobrenome', required: true
  .form-group
    .input-group
      .input-group-addon Altura
      = f.text_field :height, size: 5, maxlength: 5, placeholder: '1.85', required: true, class: 'form-control'
      .input-group-addon m
  .form-group
    = f.fields_for :registers do |r|
      = r.hidden_field :measured_at, value: Date.today
      .input-group
        .input-group-addon Peso
        = r.text_field :weight, size: 5, maxlength: 5, placeholder: '0.0', required: true, class: 'form-control'
        .input-group-addon Kg
  .form-group
    = f.label :gender
    = f.select :gender, User.genders.keys.to_a.map { |g| [g.humanize, g] }, { include_blank: true }, class: 'form-control', required: true
  .form-group
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: 'off', class: 'form-control'
  .form-group
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
  = f.button 'Cadastrar-se', type: 'submit', class: 'btn btn-lg btn-primary btn-block'
  .btn-block
    = render "devise/shared/links"
