= form_for @objective do |f|
  .row
    .col-md-6
      .form-group
        = f.label :title
        = f.text_field :title, required: true, class: 'form-control'
      .form-group
        = f.label :description
        = f.text_area :description, class: 'form-control', rows: 6
    .col-md-6
      .form-group
        = f.label :register_id, 'Ponto de Partida'
        = f.select :register_id, current_user.registers.newest.map { |r| [l(r.measured_at), r.id] }, {}, required: true, class: 'form-control'
        %p.help-block Selecione um registro como ponto de partida.
      .form-inline
        %h3 Meta
        .form-group
          .input-group
            .input-group-addon Peso
            = f.text_field :weight_goal, size: 5, maxlength: 5, required: true, class: 'form-control'
            .input-group-addon Kg
        .form-group
          .form-group
            .input-group
              .input-group-addon Data
              = f.text_field :goal_at, required: true, class: 'form-control datepicker'
      %br.clear-all/
      .form-group
        = f.button 'Adicionar', type: 'submit', class: 'btn btn-primary'
