%tr
  %td= objective.title
  %td= l objective.goal_at
  %td= objective.weight_goal.to_s << ' Kg'
  %td= objective.completed? ? '---' : objective.days_missing.to_s << ' dias'
  %td= objective.weight_missing.to_s << ' Kg'
  %td= objective.daily_weight.to_s << ' Kg'
  %td= link_to 'Visualizar', objective_path(objective)
  %td= link_to 'Editar', edit_objective_path(objective)
  %td= link_to 'Apagar', objective_path(objective), method: :delete, data: { confirm: 'Tem certeza de que deseja apagar o registro?' }
