%h1 Objetivos
%p
  Objetivos são metas em prazos médios ou longos, do seu alcance desejado de peso. Como a plataforma é simples, apenas o acompanhamento diário da perda de peso, não é aconselho esperar resultados sobre o IMC.
  %br/
  A contagem de peso e perda do sistema Vai Vendo! é calculada diariamente, então as expectativas serão sempre diárias. Aconselhamos evitar objetivos maiores que seis meses.
%hr/
%h3 Seus objetivos
- if @objectives.blank?
  %p Não há registros.
- else
  %table.table
    %thead
      %tr
        %th Título
        %th Data da Meta
        %th Peso
        %th Tempo Restante
        %th Peso que falta
        %th
          %span{"data-toggle" => "tooltip", :title => "Média de Peso Diário"} MPD
        %th
        %th
    %tbody
      = render partial: "objective", collection: @objectives
= paginate @objectives if @objectives.present?
%hr/
%h3 Adicione um novo objetivo
= render partial: "form"
