= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'form-signin' }) do |f|
  %h2.form-signin-heading Esqueceu a senha?
  .form-group
    = f.label :email, class: 'sr-only'
    = f.email_field :email, class: 'form-control', placeholder: 'E-mail', required: true, autofocus: true
  = f.button 'Recuperar senha', type: 'submit', class: 'btn btn-lg btn-primary btn-block'
  .btn-block
    = render "devise/shared/links"
