%br/
%br/
%hr/
.container.text-center.initialism
  Vai Vendo App - Desenvolvido por Leonardo (Dante) Pereira -
  %a{:href => "http://www.leonardopereira.com", :target => "_blank"} www.leonardopereira.com
  \-
  %a{:href => "http://github.com/dantetekanem", :target => "_blank"} github.com/dantetekanem
%br/
:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69214732-1', 'auto');
  ga('send', 'pageview');
