%canvas#canvas
- if current_user.objective.present?
  :javascript
    jQuery(document).ready(function($){
      var data = {
        labels: #{raw(current_user.to_graph_dates.to_json)},
        datasets: [
          {
            label: "Peso",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: #{current_user.to_graph_registers.to_json}
          },
          {
            label: "Expectativa",
            fillColor: "rgba(20,20,20,0)",
            strokeColor: "rgba(20,20,20,0.8)",
            pointColor: "rgba(20,20,20,0.8)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(20,20,20,0.8)",
            data: #{current_user.to_graph_expect(current_user.reverse_registers.first, current_user.to_graph_registers.size).to_json}
          }
        ]
      }
      var myNewChart = new Chart($("#canvas").get(0).getContext("2d")).Line(data);
    })
- else
  :javascript
    jQuery(document).ready(function($){
      var data = {
        labels: #{raw(current_user.to_graph_dates.to_json)},
        datasets: [
          {
            label: "Peso",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: #{current_user.to_graph_registers.to_json}
          }
        ]
      }
      var myNewChart = new Chart($("#canvas").get(0).getContext("2d")).Line(data);
    })