.panel.panel-default
  .panel-heading.text-center
    %h3.panel-title
      PARABÉNS! Você recebeu uma medalha. :)
  .panel-body.text-center
    = image_tag("badges/#{ medal.name }.png")
    %p= medal.description
- medal.viewed!