%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Vai Vendo!', root_path, class: 'navbar-brand'
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li{class: "#{nav_menu_active('objectives')}"}= link_to 'Objetivos', objectives_path
          %li{class: "#{nav_menu_active('registers')}"}= link_to 'Registros de Peso', registers_path
          %li{class: "#{nav_menu_active('photos')}"}= link_to 'Fotos e Evolução', photos_path
          %li{class: "#{nav_menu_active('medals')}"}= link_to 'Medalhas', medals_path
          %li{class: "#{nav_menu_active('registrations')}"}= link_to 'Editar Perfil', edit_user_registration_path
          %li= link_to 'Sair', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Cadastrar-se', new_user_registration_path
          %li= link_to 'Logar-se', new_user_session_path
    / /.nav-collapse
