.container
  .row
    .col-md-6
      %h2
        %span.label.label-warning Você ainda não registrou o seu peso de hoje!
    .col-md-6.registration-today
      = form_for Register.new, html: { class: 'form-inline' } do |f|
        = f.hidden_field :measured_at, value: Date.today
        .form-group
          .input-group
            .input-group-addon Peso
            = f.text_field :weight, size: 5, maxlength: 5, required: true, class: 'form-control'
            .input-group-addon Kg
        = f.button 'Adicionar', type: 'submit', class: 'btn btn-primary'
  %hr/
