- if current_user.objectives.blank?
  %p
    Você ainda não possui objetivos. #{link_to 'Crie o seu agora', objectives_path} mesmo!
- else
  - current_user.objectives.each do |objective|
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          OBJETIVO: #{objective.title}
      .panel-body
        .progress
          .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{objective.percentage_of_loss}", :role => "progressbar", :style => "width: #{objective.percentage_of_loss}%;"}
            = objective.percentage_of_loss
            \%
        Faltam
        %span.label.label-info= "#{ objective.days_missing } dias"
        e
        %span.label.label-info= "#{ objective.weight_missing } Kg"
        para cumprir o seu objetivo.
        %br/
        Você está numa média de
        %span.label.label-warning= "#{ objective.daily_weight } Kg"
        por dia, comparada a expectativa de
        %span.label.label-warning= "#{ objective.daily_weight_to_loss } Kg"
        diárias. Isso é uma diferença de
        %span.label.label-success= "#{ objective.daily_weight_diff }%"
        do esperado!
        %br/
        Se você continuar neste ritmo, irá demorar
        %span.label.label-danger= "#{ objective.weight_expectative_in_days } dias"
        para alcançar o seu objetivo.
