- if current_user.registers.blank?
  %p= t('_g.no_registers_2')
- else
  %p= raw t('home.welcome.content', { weight: current_user.weight, height: current_user.height, imc: current_user.imc })
  %p
    Você está
    = succeed "." do
      %b= imc_situation current_user.imc
  %p
    Quando você começou a usar o programa, seu peso era de
    %b
      = current_user.first_weight
      Kg
    e o seu IMC de
    = succeed "." do
      %b
        = current_user.first_imc
        (#{imc_situation current_user.first_imc})
  %p
    - if current_user.weight_diff > 0
      Você ganhou
      = succeed "," do
        %span.label.label-danger= "#{ current_user.weight_diff } Kg"
      %b :(
    - elsif current_user.weight_diff < 0
      Você já perdeu
      %span.label.label-success= "#{ current_user.weight_diff * -1 } Kg"
      em
      %span.label.label-info= "#{ current_user.days } dias"
      do programa, uma média de
      %span.label.label-warning= "#{ current_user.weight_loss_average } Kg"
      por dia.
