.starter-template
  - if current_user.medals.unvieweds.size > 0
    = render partial: "shared/medal", collection: current_user.medals.unvieweds
  = render partial: "shared/register_today" unless current_user.registered_today?
  %h1= t('home.welcome.title', name: current_user.first_name)
  %hr/
  .row
    .col-md-6
      = render partial: "welcome"
    .col-md-6
      = render partial: "objectives"
  %hr/
  .row
    .col-md-6
      %h2= t('home.last_registers')
      - if current_user.registers.blank?
        %p= t('_g.no_registers')
      - else
        %table.table
          %thead
            %tr
              %th= t('_g.date')
              %th= t('_g.day')
              %th= t('_g.weight')
              %th
                %span{"data-toggle" => "tooltip", title: t('_g.imc_desc')}= t('_g.imc')
              %th
                %span{"data-toggle" => "tooltip", title: t('_g.dpa_desc')}= t('_g.dpa')
              %th
                %span{"data-toggle" => "tooltip", title: t('_g.dia_desc')}= t('_g.dia')
              %th
                %span{"data-toggle" => "tooltip", title: t('_g.off_desc')}= t('_g.off')
              %th
                %span{"data-toggle" => "tooltip", title: t('_g.workout_desc')}= t('_g.workout')
          %tbody
            = render partial: "registers/register", collection: current_user.registers.oldest.limit(5)
        %h3= t('_g.weight_add')
        = render partial: "registers/add"
    .col-md-6
      %h2= t('home.graphs.variation')
      = render partial: "shared/line_graph", locals: { registers: current_user.registers.newest }
      %small= t('home.graphs.desc')