%h3 Medalhas
%hr
.row
  - if current_user.medals.size > 0
    - current_user.medals.each do |medal|
      .col-xs-6.col-md-3
        .thumbnail
          = image_tag("badges/#{ medal.badge_reference }.png")
        .text-center
          %b= "há #{ distance_of_time_in_words(DateTime.now, medal.created_at) }"
          %p= medal.description
  - else
    %p Você ainda não ganhou nenhuma medalha.