= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-signin' }) do |f|
  %h2.form-signin-heading Acesse agora
  .form-group
    = f.label :email, class: 'sr-only'
    = f.email_field :email, class: 'form-control', placeholder: 'E-mail', required: true, autofocus: true
  .form-group
    = f.label :password, class: 'sr-only'
    = f.password_field :password, class: 'form-control', placeholder: 'Senha', required: true, autocomplete: "off"
  - if devise_mapping.rememberable?
    .checkbox.form-group
      %label
        = f.check_box :remember_me
        Lembrar senha?
  = f.button 'Entrar', type: 'submit', class: 'btn btn-lg btn-primary btn-block'
  .btn-block
    = render "devise/shared/links"
