/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*= require bootstrap-datepicker3
 *= require_tree .
 *= require_self
 */

.home {
  margin-top: 60px;
}
html.turbolinks-progress-bar::before {
  background-color: red !important;
  height: 5px !important;
}
.navbar-brand { color: #fff !important; }
.registration-today {
  padding: 22px 10px;
  font-size: 24px;
}
.m-down { color: green; }
.m-up { color: red; }
.m-stable { color: gray; }