// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
canvas{
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}