!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Vai Vendo!
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    :javascript
      $(document).ready(function(){
        $.cloudinary.config({
          cloud_name: '#{ ENV['cloudinary_cloud_name'] }',
          api_key: '#{ ENV['cloudinary_api_key'] }'
        });
      });
    = csrf_meta_tags
  %body
    = render partial: "shared/navigation"
    .container.home
      - if notice
        %p.alert.alert-success= raw notice
      - if alert
        %p.alert.alert-danger= raw alert
      = yield
    = render partial: "shared/footer"
